In [6]:
import sys
import pandas as pd

sys.path.append('../src/')
from d00_utils.db_utils import dbReadWriteData

In [3]:
io = dbReadWriteData()
io.schema = 'classification'

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
### EVALUATION WITH LOOSE MAPPING, e.g. subsets of a2c are a2c

df = io.get_table('test1000_for_m1')

df = df[df['view4_pred'] != 'other']
print(df['correct'].value_counts())
# 768 / 1025 = 75% of all instances are NOT predicted as other
# On those instances, accuracy of 748 / 768 = 97%

pd.crosstab(df['correct'], [df['view_true']])
# X/Y on [true view]
# 353/355 on plax, 243/253 on a4c, 152/160 on a2c

pd.crosstab(df['correct'], [df['view_true'], df['view4_pred']])

t    748
f     20
Name: correct, dtype: int64

view_true   a2c     a4c      plax
view4_pred  a2c a4c a2c  a4c  a4c plax
correct
f             0   8  10    0    2    0
t           152   0   0  243    0  353

In [8]:
### EVALUATION WITH STRICT MAPPING, e.g. only a2c are a2c

df = io.get_table('test1000_for_m2_m3')

df = df[df['view4_pred'] != 'other']
print(df['correct'].value_counts())
# 508 / 1025 = 50% of all instances are NOT predicted as other
# On those instances, accuracy of 500/508 = 97%

pd.crosstab(df['correct'], [df['view_true']])
# X/Y on [true view]
# 274274 on plax, 145/149 on a4c, 81/84 on a2c

pd.crosstab(df['correct'], [df['view_true'], df['view4_pred']])

t    500
f      8
Name: correct, dtype: int64

view_true  a2c     a4c      plax
view4_pred a2c a4c a2c  a4c plax
correct
f            0   3   5    0    0
t           81   0   0  145  274