In [1]:
import sys
import os
project_dir = os.path.dirname(os.getcwd())
sys.path.append(project_dir) #notebooks can't look into source unless you append the parent project directory to the path
print(project_dir)

/home/ubuntu/courtney/usal_echo

In [2]:
import sqlalchemy
import numpy as np
import pandas as pd

In [3]:
sys.path.append('../src')
from d00_utils.db_utils import *

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
io_views = dbReadWriteViews()
io_segmentation = dbReadWriteSegmentation()

#Instances to write masks for
instances_w_labels_test_downsampleby5_df = io_views.get_table('instances_w_labels_test_downsampleby5')  
instances_w_labels_test_downsampleby5_df['studyidk'] = str(instances_w_labels_test_downsampleby5_df['studyidk']) 
print(instances_w_labels_test_downsampleby5_df.dtypes)

sopinstanceuid    object
filename          object
instanceidk        int64
view              object
studyidk          object
dtype: object

In [5]:
instances_w_labels_test_downsampleby5_df.shape

(1025, 5)

In [ ]:
chords_by_volume_mask_df = io_views.get_table("chords_by_volume_mask")
#chords_by_volume_mask_df = int(chords_by_volume_mask_df['studyidk'])
print(chords_by_volume_mask_df.shape)
print(chords_by_volume_mask_df.dtypes)

(1626282, 17)
instanceidk             int64
indexinmglist           int64
chordsequence           int64
chordtype              object
x1coordinate          float64
y1coordinate          float64
chordlength           float64
x2coordinate          float64
y2coordinate          float64
interchorddistance    float64
studyidk               object
frame                  object
view                   object
chamber                object
cardio_moment          object
sopinstanceuid         object
instancefilename       object
dtype: object

In [7]:
group_df = chords_by_volume_mask_df.groupby(["instanceidk", "indexinmglist"]).agg(
        {
            "x1coordinate": list,
            "y1coordinate": list,
            "x2coordinate": list,
            "y2coordinate": list,
            "chamber": pd.Series.unique,
            "frame": pd.Series.unique,
            "view" : pd.Series.unique,
            "instancefilename" : pd.Series.unique,
            "studyidk" : pd.Series.unique
        }
    )

In [8]:
group_df.head()

                                                                x1coordinate  \
instanceidk indexinmglist
57164       0              [422.0, 408.7043904209, 383.18264488286104, 32...
            1              [445.0, 406.617336371168, 354.98270447906503, ...
58207       0              [350.578541245637, 393.272428782834, 381.88757...
            1              [360.0, 402.051138189609, 380.153414568827, 34...
102950      0              [302.0, 244.70478260869598, 238.836057023644, ...

                                                                y1coordinate  \
instanceidk indexinmglist
57164       0              [306.0, 308.185087082729, 311.836528976572, 33...
            1              [306.0, 325.03537696768797, 345.54073758519996...
58207       0              [336.381591034356, 364.54138919718804, 357.032...
            1              [347.0, 359.631119442957, 352.89335832887, 350...
102950      0              [374.0, 363.26195652173897, 349.431675938804, ...

                                                                x2coordinate  \
instanceidk indexinmglist
57164       0              [297.0, 426.667431561997, 422.381486742424, 41...
            1              [312.0, 447.06858778625997, 448.0, 448.0, 446....
58207       0              [282.063809967396, 423.656674208145, 434.86361...
            1              [285.0, 440.0, 440.17644298866895, 442.1610559...
102950      0              [342.0, 321.691810344828, 373.83403090792, 382...

                                                                y2coordinate  \
instanceidk indexinmglist
57164       0              [120.0, 296.113150831991, 285.493221275253, 27...
            1              [109.0, 297.725648854962, 282.742258883249, 26...
58207       0              [172.76432231020001, 351.817986425339, 334.848...
            1              [124.0, 346.86804932735396, 332.706241147309, ...
102950      0              [128.0, 375.780172413793, 371.382566001288, 35...

                          chamber frame view instancefilename studyidk
instanceidk indexinmglist
57164       0                  lv     8  A4C         6RYXZO20     2882
            1                  lv    15  A4C         6RYXZO20     2882
58207       0                  lv     1  A4C         7QVURND6     2966
            1                  lv     8  A4C         7QVURND6     2966
102950      0                  lv    17  A4C         FN8YYXBS     5898

In [9]:
group_df.shape

(77442, 9)

In [10]:
group_df = group_df.reset_index()

In [11]:
instance_ids = instances_w_labels_test_downsampleby5_df['instanceidk']

In [20]:
merge_df = group_df[group_df['instanceidk'].isin(instance_ids)]
print(merge_df.shape)

(1157, 11)

In [21]:
merge_df

,instanceidk,indexinmglist,x1coordinate,y1coordinate,x2coordinate,y2coordinate,chamber,frame,view,instancefilename,studyidk
1659,779540,0,"[485.0, 480.90687919463096, 440.86949019132993...","[380.0, 381.66359060402704, 384.966698958586, ...","[396.0, 522.358037931813, 521.074113795439, 51...","[162.0, 364.740869835177, 352.222609505532, 33...",lv,51,A4C,1LHFYKEZ,43763
1660,779540,1,"[452.0, 421.94456521739096, 419.746739130435, ...","[349.0, 351.796739130435, 343.73804347826103, ...","[425.0, 482.456227436823, 483.36868231046896, ...","[187.0, 341.711462093863, 333.134386281588, 32...",lv,68,A4C,1LHFYKEZ,43763
1852,841585,0,"[437.0, 448.47381422924894, 384.99446280991697...","[416.0, 416.231027667984, 413.267314049587, 40...","[402.0, 491.178705211726, 503.536115635179, 51...","[181.0, 409.8707247557, 395.612174267101, 381....",lv,46,A4C,7SQZPLEJ,46919
1853,841585,1,"[414.0, 366.31768953068604, 360.64635761589403...","[405.0, 405.098916967509, 393.292715231788, 38...","[417.0, 412.328293736501, 461.257577036724, 46...","[177.0, 405.70431965442805, 394.616547066273, ...",lv,60,A4C,7SQZPLEJ,46919
2129,921901,0,"[508.0, 523.506117397454, 484.518352192362, 44...","[369.0, 365.96646039603996, 371.899381188119, ...","[417.0, 546.086449022875, 552.259347068626, 55...","[175.0, 355.37465535524905, 340.123966065748, ...",lv,51,A4C,EAKXA40T,50521
2130,921901,1,"[498.0, 517.637639664805, 472.912918994413, 44...","[351.0, 346.32437150837995, 356.97311452514, 3...","[427.0, 538.225681515957, 534.677044547872, 53...","[196.0, 336.893720079787, 328.681160239362, 32...",lv,68,A4C,EAKXA40T,50521
3462,1078635,0,"[448.0, 396.458362369337, 365.893518965934, 36...","[445.0, 445.746980255517, 435.379644841749, 42...","[432.0, 526.921595744681, 533.3222340425531, 5...","[202.0, 437.156808510638, 424.355531914894, 41...",lv,58,A4C,AFUJWQM9,57515
3463,1078635,1,"[451.0, 392.331048034934, 372.99314410480304, ...","[420.0, 427.60502183406095, 418.815065502183, ...","[436.0, 434.466129032258, 499.398387096774, 50...","[224.0, 424.38039828834803, 409.141194865043, ...",lv,75,A4C,AFUJWQM9,57515
3615,1084663,0,"[444.0, 474.72066794707604, 418.162003841229, ...","[477.0, 472.31379641485296, 480.941389244558, ...","[324.0, 502.87842102414197, 502.63526307242597...","[211.0, 459.61105066580103, 442.83315199740196...",lv,137,A2C,AKFY2K0G,57770
3616,1084663,1,"[431.0, 398.947803347281, 384.986204663212, 38...","[462.0, 471.10575313807504, 463.95401554404197...","[359.0, 474.048177676538, 472.14453302961306, ...","[252.0, 445.357053368044, 434.071160104133, 42...",lv,153,A2C,AKFY2K0G,57770
4378,1139169,0,"[490.0, 439.707425742574, 417.290203089245, 40...","[390.0, 408.461633663366, 403.878675629291, 39...","[392.0, 552.283676599474, 550.851029798422, 54...","[156.0, 361.314314928425, 347.94294478527604, ...",lv,34,A2C,E97GSYED,59792
4379,1139169,1,"[475.0, 421.92157124546, 413.54082995086503, 4...","[364.0, 380.71634266182406, 371.776885280923, ...","[388.0, 524.120221706198, 520.360665118593, 51...","[153.0, 338.577562614032, 327.73268784209597, ...",lv,54,A2C,E97GSYED,59792
4741,1168238,0,"[451.0, 391.709406322282, 383.019070772555, 37...","[453.0, 459.23932151118, 446.461264181524, 433...","[397.0, 509.454653603919, 514.363960811757, 51...","[176.0, 436.28537438768404, 420.856123163051, ...",lv,59,A4C,FONQVY2N,60906
4742,1168238,1,"[438.0, 389.33427991886396, 388.00283975659204...","[431.0, 431.786612576065, 419.35983772819503, ...","[424.0, 469.86615969581703, 487.510172744722, ...","[186.0, 427.184790874525, 413.673704414587, 40...",lv,79,A4C,FONQVY2N,60906
5082,1197478,0,"[440.0, 454.270747062115, 374.061565399309, 37...","[451.0, 452.84601287073303, 442.10642623249, 4...","[436.0, 508.969975985844, 512.909927957533, 51...","[217.0, 451.910983316481, 439.732949949444, 42...",lv,1,A4C,2O2Z87HI,61989
5083,1197478,1,"[441.0, 447.17, 399.652628112238, 397.48761691...","[430.0, 431.69, 418.21351600579595, 407.079172...","[452.0, 483.86145307769897, 487.584359233098, ...","[217.0, 433.584863773966, 422.75459132189695, ...",lv,16,A4C,2O2Z87HI,61989
8537,1385486,0,"[384.0, 427.901004261562, 365.703012784686, 30...","[509.0, 538.84716361604, 510.54149084812104, 4...","[438.0, 464.82657538096396, 476.479726142893, ...","[202.0, 545.3422152135901, 530.0266456407701, ...",lv,1,A4C,BNYDV0CU,70250
8538,1385486,1,"[402.0, 437.66782461153804, 359.00347383461303...","[482.0, 498.33137167351305, 470.994115020539, ...","[445.0, 481.202286995516, 489.606860986547, 49...","[244.0, 506.196841768097, 494.590525304292, 48...",lv,18,A4C,BNYDV0CU,70250
9095,1401364,0,"[430.0, 434.48447204968903, 369.73062898815004...","[426.0, 425.685300207039, 424.938012762078, 41...","[378.0, 488.507622811971, 491.522868435912, 49...","[168.0, 414.796913231696, 400.390739695088, 38...",lv,27,A2C,CRX7AISX,70927
9096,1401364,1,"[425.0, 371.132289719626, 368.384346642468, 36...","[393.0, 391.88714953271005, 381.517819872958, ...","[415.0, 477.61945993031304, 476.858379790941, ...","[185.0, 386.767574041812, 376.302722125436, 36...",lv,40,A2C,CRX7AISX,70927
10991,1444546,0,"[448.0, 463.943069306931, 392.53854730806, 387...","[429.0, 429.065189018902, 429.892513539344, 41...","[401.0, 504.65876478318, 507.97629434954, 511....","[187.0, 421.157595269382, 407.47278580814697, ...",lv,0,A4C,E7DHB448,72618
10992,1444546,1,"[442.0, 432.000639658849, 396.28839704896006, ...","[401.0, 401.62068230277197, 394.678672032193, ...","[418.0, 487.73838219326797, 491.215146579805, ...","[189.0, 395.31074918566804, 383.932247557003, ...",lv,23,A4C,E7DHB448,72618
13273,1481908,0,"[449.0, 391.39263803681, 362.61066503217904, 3...","[484.0, 497.825766871165, 489.62028807845496, ...","[356.0, 529.255927051672, 534.588154897494, 53...","[178.0, 455.926139817629, 437.35261958997705, ...",lv,31,A2C,FI8DJHQB,73922
13274,1481908,1,"[461.0, 393.14725717973505, 378.600209745079, ...","[464.0, 482.69131171345595, 472.772870280736, ...","[362.0, 531.301009501188, 532.114830863852, 52...","[196.0, 431.656903206651, 416.06411098686004, ...",lv,51,A2C,FI8DJHQB,73922
13454,1485803,0,"[408.0, 387.025171065494, 361.0, 361.0, 360.92...","[304.0, 305.808406647116, 300.868343195266, 29...","[383.0, 460.385887215825, 469.15766164747595, ...","[135.0, 294.956229701801, 284.868689105403, 27...",lv,48,A4C,FJ5G918R,74054
13455,1485803,1,"[397.0, 350.64921564295196, 351.94764692885497...","[284.0, 290.32111135660597, 282.963334069819, ...","[375.0, 421.575192307692, 443.06094774217, 440...","[147.0, 278.931538461539, 268.332001092498, 26...",lv,61,A4C,FJ5G918R,74054
13666,1490854,0,"[494.0, 521.760633001422, 459.28189900426696, ...","[449.0, 443.35376955903297, 456.061308677098, ...","[385.0, 553.2427448806569, 553.728234641972, 5...","[206.0, 429.232163818964, 413.696491456893, 39...",lv,43,A2C,FKZLV8UK,74226
13667,1490854,1,"[464.0, 421.79752421959097, 414.524973089343, ...","[447.0, 455.71469321851504, 445.46700753498396...","[401.0, 507.0, 506.934259259259, 505.038580246...","[222.0, 431.858, 419.592407407407, 407.8391975...",lv,61,A2C,FKZLV8UK,74226
13937,1496711,0,"[418.0, 432.354574363992, 360.42425115207396, ...","[371.0, 372.38142123287696, 365.984879032258, ...","[397.0, 478.083165322581, 484.249495967742, 49...","[129.0, 368.41323771994104, 355.23971315982396...",lv,1,A4C,FONWPMP3,74472
13938,1496711,1,"[420.0, 437.95046308547205, 365.984902008226, ...","[352.0, 352.33379200846804, 352.978611178321, ...","[383.0, 474.0, 474.0, 474.508308519835, 475.96...","[135.0, 346.187096774194, 334.561290322581, 32...",lv,18,A4C,FONWPMP3,74472
...,...,...,...,...,...,...,...,...,...,...,...
76537,2984778,0,"[463.0, 505.59198714486297, 462.77596143459004...","[391.0, 388.348536242843, 391.04560872852994, ...","[376.0, 530.1146207584829, 535.0, 535.0, 534.0...","[167.0, 378.824120508982, 362.994308035714, 34...",lv,46,A2C,EBITKA72,126084
76538,2984778,1,"[451.0, 487.04369722250505, 457.131091667515, ...","[378.0, 383.074931325669, 379.224793977007, 37...","[382.0, 505.680668727171, 511.0, 510.310291155...","[158.0, 377.229699353751, 362.329545454545, 34...",lv,61,A2C,EBITKA72,126084
76539,2984778,2,"[450.0, 497.80881468110704, 501.426444043321, ...","[381.0, 380.89410348977094, 386.68231046931396...","[445.0, 473.123655913978, 427.370967741935, 40...","[488.0, 379.74059139784896, 383.22177419354796...",la,61,A2C,EBITKA72,126084
76558,2985218,0,"[421.0, 459.53725614390703, 408.61176843172007...","[384.0, 389.39110717000295, 382.173321510008, ...","[393.0, 489.31509669369905, 495.239114160948, ...","[143.0, 385.93144104803497, 372.108733624454, ...",lv,1,A4C,EBITNLTE,126098
76559,2985218,1,"[424.0, 440.34138549892305, 369.944678870617, ...","[352.0, 352.29066762383303, 350.087201365188, ...","[402.0, 480.161104582844, 482.48331374853103, ...","[158.0, 347.775029377203, 337.32508813161, 327...",lv,17,A4C,EBITNLTE,126098
76560,2985218,2,"[413.0, 460.77599937539003, 462.32799812617105...","[360.0, 359.36266396002503, 366.087991880075, ...","[405.0, 439.393459069021, 398.180377207063, 36...","[485.0, 357.99418138041705, 361.982544141252, ...",la,17,A4C,EBITNLTE,126098
76584,2986304,0,"[501.0, 510.586178861789, 447.19754098360704, ...","[363.0, 360.603455284553, 373.29631147541, 363...","[418.0, 559.665545144804, 567.068548291056, 56...","[154.0, 341.11260647359404, 325.692035846135, ...",lv,65,A2C,EBZCUU0F,126144
76585,2986304,1,"[501.0, 506.160148975791, 453.83139013452904, ...","[340.0, 339.078212290503, 345.663677130045, 33...","[441.0, 547.5149572649569, 548.5448717948719, ...","[156.0, 325.592948717949, 314.778846153846, 30...",lv,88,A2C,EBZCUU0F,126144
76586,2986304,2,"[497.0, 472.666512702078, 495.999538106235, 51...","[344.0, 352.324249422633, 344.972748267898, 33...","[581.0, 460.818372703412, 460.45511811023596, ...","[460.0, 360.903937007874, 370.711811023622, 38...",la,88,A2C,EBZCUU0F,126144
76635,2987140,0,"[474.0, 505.547929447853, 438.64378834355796, ...","[332.0, 318.182093558282, 348.546280674847, 35...","[339.0, 540.529863221885, 541.214044183949, 53...","[134.0, 294.330775075988, 278.612015329125, 26...",lv,51,A2C,EBZCZ8AT,126172
76636,2987140,1,"[464.0, 467.959098908835, 410.779786754768, 40...","[339.0, 338.027314325941, 357.10184712419294, ...","[352.0, 517.7624217119001, 523.287265135699, 5...","[142.0, 309.712734864301, 293.138204592902, 27...",lv,67,A2C,EBZCZ8AT,126172
76637,2987140,2,"[468.0, 447.168267929635, 507.50480378890404, ...","[343.0, 353.35520974289597, 324.065629228687, ...","[570.0, 416.89445324881103, 416.683359746434, ...","[494.0, 373.805071315372, 385.41521394611703, ...",la,67,A2C,EBZCZ8AT,126172
76683,2990141,0,"[412.0, 416.05883995037203, 348.74613363363403...","[372.0, 372.231963399504, 372.737406156156, 36...","[366.0, 465.0, 465.0, 465.0, 465.0, 464.764275...","[136.0, 362.69258474576304, 350.077754237288, ...",lv,2,A4C,EDTICRZG,126288
76684,2990141,1,"[381.0, 334.36630737134897, 335.904131355932, ...","[351.0, 341.871696801113, 331.694032485876, 32...","[401.0, 427.67903251514196, 426.83945648709, 4...","[147.0, 351.020003187759, 340.609260439911, 33...",lv,16,A4C,EDTICRZG,126288
76685,2990141,2,"[390.0, 440.340723981901, 445.02217194570096, ...","[358.0, 369.761782109293, 381.28534632787995, ...","[323.0, 428.347755102041, 409.04326530612195, ...","[475.0, 362.89401360544196, 360.682040816327, ...",la,16,A4C,EDTICRZG,126288
76783,2994496,0,"[447.0, 384.311890517499, 372.52944959617105, ...","[338.0, 361.497150762788, 352.886905474125, 34...","[355.0, 478.67433259176903, 499.747635619243, ...","[112.0, 323.084121245829, 301.098971340839, 28...",lv,44,A2C,EEQL4LRY,126442
76784,2994496,1,"[422.0, 400.641071428572, 361.887593473827, 36...","[303.0, 311.212946428571, 317.290584636302, 30...","[346.0, 475.339577464789, 474.018732394366, 47...","[127.0, 278.956773367478, 268.870320102433, 25...",lv,65,A2C,EEQL4LRY,126442
76785,2994496,2,"[430.0, 402.660987261147, 459.98296178344003, ...","[311.0, 318.322949840764, 302.968849522293, 29...","[491.0, 374.0, 374.0, 374.0, 374.180315947844,...","[455.0, 330.4640625, 339.3921875, 348.3203125,...",la,65,A2C,EEQL4LRY,126442
76829,2995427,0,"[392.0, 335.980944055944, 332.488286713287, 32...","[380.0, 385.93520979021, 374.060174825175, 362...","[350.0, 448.231172839506, 454.397222222222, 46...","[140.0, 366.291419753086, 352.726111111111, 33...",lv,1,A2C,EEQL8VCZ,126470
76830,2995427,1,"[390.0, 339.510929089633, 338.532787268898, 34...","[338.0, 336.864755441142, 326.59426632342604, ...","[385.0, 439.959759662228, 439.28103280285796, ...","[135.0, 334.390646313738, 324.112782443279, 31...",lv,17,A2C,EEQL8VCZ,126470
76831,2995427,2,"[395.0, 446.593497576737, 450.50893150684897, ...","[353.0, 349.14959612277903, 357.43248630137003...","[393.0, 422.11365073787806, 378.340952213633, ...","[509.0, 348.835751932537, 356.507255797611, 36...",la,17,A2C,EEQL8VCZ,126470
77005,3003299,0,"[427.0, 425.69370004701403, 366.423890063425, ...","[368.0, 368.484015044664, 362.71987315010597, ...","[410.0, 486.203815261044, 490.61144578313304, ...","[162.0, 363.49046184739, 352.47138554216906, 3...",lv,50,A4C,FDNHKCYK,126751
77006,3003299,1,"[424.0, 369.649915254237, 363.77008474576303, ...","[349.0, 352.47487288135596, 343.65512711864403...","[405.0, 478.66730571941497, 480.001917158246, ...","[165.0, 341.217642344191, 331.652927032572, 32...",lv,69,A4C,FDNHKCYK,126751
77007,3003299,2,"[418.0, 471.005389007851, 479.016167023555, 48...","[354.0, 351.721984296931, 363.165952890792, 37...","[381.0, 454.494157911493, 429.482473734479, 40...","[520.0, 348.04177013689906, 352.125310410697, ...",la,69,A4C,FDNHKCYK,126751
77037,3003810,0,"[427.0, 446.918636161706, 410.755908485118, 38...","[387.0, 390.33031985784106, 388.990959573523, ...","[352.0, 477.96945731303805, 482.99394693200696...","[161.0, 380.02584381204497, 365.01815920397996...",lv,38,A4C,FDNHO33T,126772
77038,3003810,1,"[410.0, 449.069, 455.207, 460.578034682081, 46...","[377.0, 383.092, 391.276, 399.35043352601195, ...","[390.0, 404.15, 367.76666666666705, 358.023809...","[517.0, 376.675, 378.784523809524, 384.6998299...",la,52,A4C,FDNHO33T,126772
77039,3003810,2,"[413.0, 422.05892370572195, 380.689414704934, ...","[373.0, 374.158378746594, 369.819775878749, 36...","[397.0, 450.726398601399, 456.782184599519, 46...","[214.0, 371.273601398601, 362.162641801306, 35...",lv,52,A4C,FDNHO33T,126772
77051,3004026,0,"[469.0, 500.761822376009, 458.285467128028, 41...","[414.0, 417.17958477508597, 413.53875432526, 4...","[415.0, 525.2361159929701, 531.70834797891, 53...","[177.0, 411.60316344463996, 396.809490333919, ...",lv,63,A4C,FDNHQ1M9,126781
77052,3004026,1,"[456.0, 477.70661415828397, 427.119842474853, ...","[393.0, 395.116449990511, 391.349349971532, 38...","[417.0, 503.470344465332, 504.41103339599704, ...","[164.0, 390.72874046223603, 378.186221386708, ...",lv,79,A4C,FDNHQ1M9,126781
77053,3004026,2,"[450.0, 496.69599609375, 498.08798828125, 499....","[399.0, 407.1759765625, 415.5279296875, 423.87...","[408.0, 479.092883211679, 445.278649635037, 41...","[534.0, 401.69945255474505, 399.098357664234, ...",la,79,A4C,FDNHQ1M9,126781

In [22]:
merge_df_idx = merge_df.set_index(['instanceidk', 'view', 'chamber'], inplace=False)

In [23]:
merge_df_idx

                          indexinmglist  \
instanceidk view chamber
779540      A4C  lv                   0
                 lv                   1
841585      A4C  lv                   0
                 lv                   1
921901      A4C  lv                   0
...                                 ...
3003810     A4C  la                   1
                 lv                   2
3004026     A4C  lv                   0
                 lv                   1
                 la                   2

                                                               x1coordinate  \
instanceidk view chamber
779540      A4C  lv       [485.0, 480.90687919463096, 440.86949019132993...
                 lv       [452.0, 421.94456521739096, 419.746739130435, ...
841585      A4C  lv       [437.0, 448.47381422924894, 384.99446280991697...
                 lv       [414.0, 366.31768953068604, 360.64635761589403...
921901      A4C  lv       [508.0, 523.506117397454, 484.518352192362, 44...
...                                                                     ...
3003810     A4C  la       [410.0, 449.069, 455.207, 460.578034682081, 46...
                 lv       [413.0, 422.05892370572195, 380.689414704934, ...
3004026     A4C  lv       [469.0, 500.761822376009, 458.285467128028, 41...
                 lv       [456.0, 477.70661415828397, 427.119842474853, ...
                 la       [450.0, 496.69599609375, 498.08798828125, 499....

                                                               y1coordinate  \
instanceidk view chamber
779540      A4C  lv       [380.0, 381.66359060402704, 384.966698958586, ...
                 lv       [349.0, 351.796739130435, 343.73804347826103, ...
841585      A4C  lv       [416.0, 416.231027667984, 413.267314049587, 40...
                 lv       [405.0, 405.098916967509, 393.292715231788, 38...
921901      A4C  lv       [369.0, 365.96646039603996, 371.899381188119, ...
...                                                                     ...
3003810     A4C  la       [377.0, 383.092, 391.276, 399.35043352601195, ...
                 lv       [373.0, 374.158378746594, 369.819775878749, 36...
3004026     A4C  lv       [414.0, 417.17958477508597, 413.53875432526, 4...
                 lv       [393.0, 395.116449990511, 391.349349971532, 38...
                 la       [399.0, 407.1759765625, 415.5279296875, 423.87...

                                                               x2coordinate  \
instanceidk view chamber
779540      A4C  lv       [396.0, 522.358037931813, 521.074113795439, 51...
                 lv       [425.0, 482.456227436823, 483.36868231046896, ...
841585      A4C  lv       [402.0, 491.178705211726, 503.536115635179, 51...
                 lv       [417.0, 412.328293736501, 461.257577036724, 46...
921901      A4C  lv       [417.0, 546.086449022875, 552.259347068626, 55...
...                                                                     ...
3003810     A4C  la       [390.0, 404.15, 367.76666666666705, 358.023809...
                 lv       [397.0, 450.726398601399, 456.782184599519, 46...
3004026     A4C  lv       [415.0, 525.2361159929701, 531.70834797891, 53...
                 lv       [417.0, 503.470344465332, 504.41103339599704, ...
                 la       [408.0, 479.092883211679, 445.278649635037, 41...

                                                               y2coordinate  \
instanceidk view chamber
779540      A4C  lv       [162.0, 364.740869835177, 352.222609505532, 33...
                 lv       [187.0, 341.711462093863, 333.134386281588, 32...
841585      A4C  lv       [181.0, 409.8707247557, 395.612174267101, 381....
                 lv       [177.0, 405.70431965442805, 394.616547066273, ...
921901      A4C  lv       [175.0, 355.37465535524905, 340.123966065748, ...
...                                                                     ...
3003810     A4C  la       [517.0, 376.675, 378.784523809524, 384.6998299...
                 lv       [214.0, 371.273601398601, 362.162641801306, 35...
3004026     A4C  lv       [177.0, 411.60316344463996, 396.809490333919, ...
                 lv       [164.0, 390.72874046223603, 378.186221386708, ...
                 la       [534.0, 401.69945255474505, 399.098357664234, ...

                         frame instancefilename studyidk
instanceidk view chamber
779540      A4C  lv         51         1LHFYKEZ    43763
                 lv         68         1LHFYKEZ    43763
841585      A4C  lv         46         7SQZPLEJ    46919
                 lv         60         7SQZPLEJ    46919
921901      A4C  lv         51         EAKXA40T    50521
...                        ...              ...      ...
3003810     A4C  la         52         FDNHO33T   126772
                 lv         52         FDNHO33T   126772
3004026     A4C  lv         63         FDNHQ1M9   126781
                 lv         79         FDNHQ1M9   126781
                 la         79         FDNHQ1M9   126781

[1157 rows x 8 columns]

In [26]:
merge_df_idx.groupby(level=1).count()

,indexinmglist,x1coordinate,y1coordinate,x2coordinate,y2coordinate,frame,instancefilename,studyidk
view,,,,,,,,
A2C,485,485,485,485,485,485,485,485
A4C,672,672,672,672,672,672,672,672