In [31]:
import pandas as pd
import sys
import matplotlib.pyplot as plt

sys.path.append('../src')

from d00_utils.db_utils import dbReadWriteViews, dbReadWriteClean, dbReadWriteRaw

In [32]:
io_views = dbReadWriteViews()

all_inst_df = io_views.get_table('instances_unique_master_list')
label_inst_df = io_views.get_table('instances_with_labels')
confl_inst_df = io_views.get_table('instances_with_conflicts')

In [33]:
print(all_inst_df.shape)
all_inst_df.head()

(895167, 4)

,sopinstanceuid,instancefilename,instanceidk,studyidk
0,1.2.840.113543.6.6.4.6.62554526370968849932129...,6RYXZNZW,57157,2882
1,1.2.840.113543.6.6.4.6.64175920513291079284612...,6RYXZO03,57158,2882
2,1.2.840.113543.6.6.4.6.63515355813678132433121...,6RYXZO0D,57159,2882
3,1.2.840.113543.6.6.4.6.63385835434171778347132...,6RYXZO0K,57160,2882
4,1.2.840.113543.6.6.4.6.62250778798156715321013...,6RYXZO0Y,57161,2882

In [34]:
print(label_inst_df.shape)
label_inst_df.head()

(53965, 3)

   instanceidk  view  studyidk
0        57162  plax      2882
1        57164   a4c      2882
2        57571  plax      2915
3        58204  plax      2966
4        58713  plax      3009

In [35]:
print(confl_inst_df.shape)
confl_inst_df.head()

(13198, 2)

   instanceidk  studyidk
0        58207      2966
1       110441      6363
2       117616      6852
3       119931      6996
4       124996      7331

In [36]:
# for all studyidk's in label_inst_df, get all instanceidk's from all_inst_df
# delete instanceidk's that exist in label_inst_df
    # should decrease by 53965
# delete instanceidk's that exist in confl_inst_df

In [37]:
# get studies for which labels exist
studies_w_labels = list(set(label_inst_df['studyidk'].tolist()))
print('Number of unique studies for which we have labels')
print(len(label_inst_df['studyidk'].unique().tolist()))
print(len(studies_w_labels))

Number of unique studies for which we have labels
22139
22139

In [42]:
# get instances w labels - to be removed from all instances
inst_w_labels = list(set(label_inst_df['instanceidk'].tolist()))
print(len(inst_w_labels)) # should be same length as label_inst_df

# get instances w conflicts - to be removed from all instances
    # conflict i.e. instances s.t. is_multiview==True
inst_w_conflicts = list(set(confl_inst_df['instanceidk'].tolist()))
print(len(inst_w_conflicts)) # should be same as length confl_inst_df

53965
13198

In [47]:
# get all instanceidk's from studies which have measurements
poss_inst_df = all_inst_df[all_inst_df['studyidk'].isin(studies_w_labels)]
# studies_all = list(set(all_inst_df['studyidk'].tolist()))
print(poss_inst_df.shape)

# remove instances which have labels
poss_inst_df = poss_inst_df[~poss_inst_df['instanceidk'].isin(inst_w_labels)]
print(poss_inst_df.shape)

# remove instances which have conflicts
poss_inst_df = poss_inst_df[~poss_inst_df['instanceidk'].isin(inst_w_conflicts)]
print(poss_inst_df.shape)

(798850, 4)
(745046, 4)
(734181, 4)

In [51]:
print(poss_inst_df.shape)
poss_inst_df.head()

(734181, 4)

,sopinstanceuid,instancefilename,instanceidk,studyidk
0,1.2.840.113543.6.6.4.6.62554526370968849932129...,6RYXZNZW,57157,2882
1,1.2.840.113543.6.6.4.6.64175920513291079284612...,6RYXZO03,57158,2882
2,1.2.840.113543.6.6.4.6.63515355813678132433121...,6RYXZO0D,57159,2882
3,1.2.840.113543.6.6.4.6.63385835434171778347132...,6RYXZO0K,57160,2882
4,1.2.840.113543.6.6.4.6.62250778798156715321013...,6RYXZO0Y,57161,2882