In [6]:
import pandas as pd
import sys
import numpy as np

sys.path.append('../src/d00_utils/')
from db_utils import dbReadWriteViews

In [4]:
io_views = dbReadWriteViews()

df = io_views.get_table('instances_with_labels')
print(df.shape)
df.head()

(32554, 5)

,sopinstanceuid,instancefilename,instanceidk,view,studyidk
0,1.2.840.113663.1500.1.365900332.3.3.20120703.9...,8Z0BWWL5,696108,plax,39531
1,1.2.840.113663.1500.1.365900332.3.4.20120703.9...,8Z0BWX0M,696109,plax,39531
2,1.2.840.113663.1500.1.365900332.3.7.20120703.9...,8Z0BWZGH,696112,a4c,39531
3,1.2.840.113663.1500.1.365900332.3.1.20120703.9...,8Z0BXKCB,696140,plax,39533
4,1.2.840.113663.1500.1.365900332.3.14.20120703....,8Z0BXYUW,696157,plax,39533

In [14]:
msk = np.random.rand(len(df)) < 0.8

df_train = df[msk]
df_test = df[~msk]

print(df_train.shape)
print(df_test.shape)
print(len(df_train)+len(df_test))

(25942, 5)
(6612, 5)
32554

In [ ]:
io_views.save_to_db(df_train, 'instances_w_labels_train')
io_views.save_to_db(df_test, 'instances_w_labels_test')