In [3]:
import sys

sys.path.append('../src')

from d00_utils.db_utils import dbReadWriteViews

In [8]:
io_views = dbReadWriteViews()

df = io_views.get_table('instances_w_labels')
df.head()

,sopinstanceuid,filename,instanceidk,view,studyidk
0,1.2.840.113663.1500.1.365900332.3.4.20120703.9...,8Z0BWX0M,696109,plax,39531
1,1.2.840.113663.1500.1.365900332.3.7.20120703.9...,8Z0BWZGH,696112,a4c,39531
2,1.2.840.113663.1500.1.365900332.3.1.20120703.9...,8Z0BXKCB,696140,plax,39533
3,1.2.840.113663.1500.1.365900332.3.14.20120703....,8Z0BXYUW,696157,plax,39533
4,1.2.840.113663.1500.1.365900332.3.8.20120704.9...,8ZGVB44R,696422,plax,39552

In [25]:
## want a function which, given filename, returns one-hot vector
# first need to strip filename string to get only "filename"
# from that, get view
# from that, make one-hot encoded vector (mapping?)

def get_onehot_vector(filename_str):

    filename = filename_str.split('_')[2].split('.')[0]
    filename = '8Z0BWX0M' # TODO: delete this line!
    df_row = df[df['filename']==filename]
    label = df_row['view'].tolist()[0]

    vec = [0] * 23
    mapping = {'plax': 1, 'a2c': 8, 'a4c': 14}
    idx = mapping[label]
    vec[idx] = 1
    
    return vec

In [26]:
get_onehot_vector(test_str)

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]