In [1]:
import os
import sys
import pandas as pd
import datetime

projectdir = os.path.dirname(os.getcwd())
sys.path.append(os.path.join(projectdir, 'src'))

import d00_utils.db_utils as db
from d02_intermediate.download_dcm import s3_download_decomp_dcm, dcmdir_to_jpgs_for_classification
from d03_classification.predict_views import run_classify, agg_probabilities, predict_views

In [2]:
table_name='instances_w_labels'
train_test_ratio=0.5 
downsample_ratio=0.001
train=False
dcm_path = os.path.join(os.path.expanduser('~/data'),'01_raw')
model_path = os.path.join(os.path.expanduser('~/models'), 'view_23_e5_class_11-Mar-2018')

new_mod_direc = '~/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0'
new_mod_name = 'model.ckpt-6460'
#model_path = os.path.join(os.path.expanduser(new_mod_direc), new_mod_name)

In [3]:
# dir_name = s3_download_decomp_dcm(dcm_path, table_name, train_test_ratio, downsample_ratio, train)
dir_name = 'test_downsampleby5/'

In [4]:
dcm_dir = os.path.join(dcm_path, dir_name)
img_dir = os.path.join(os.path.expanduser('~/data'),'02_intermediate', dir_name)
print(img_dir)

dcmdir_to_jpgs_for_classification(dcm_dir, img_dir)

/home/ubuntu/data/02_intermediate/test_downsampleby5/

In [5]:
#run_classify(img_dir, model_path, if_exists='append', feature_dim=1)

In [6]:
# df0 = io_class.get_table('probabilities_frames')
# df0.head()

In [7]:
# df1 = io_class.get_table('probabilities_instances')
# df1.head()

In [8]:
#sys.exit()

In [9]:
#agg_probabilities(if_exists='replace')

In [10]:
#predict_views(if_exists='replace')

In [11]:
io_class = db.dbReadWriteClassification()
io_class.list_tables()

['predictions', 'test1000_for_m1', 'probabilities_frames_test', 'test_probabilities_instances', 'test_probabilities_frames', 'evaluations', 'ground_truths', 'test_predictions', 'test1000_for_m2_m3', 'probabilities_frames', 'evaluation', 'probabilities_instances']

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [12]:
df = io_class.get_table('predictions')
print(df.shape)
df.tail()

(3108, 9)

,study_id,file_name,model_name,date_run,img_dir,view23_pred,view4_dev,view4_seg,prediction_id
3103,126778,a_126778_FDNHPQ07,view_23_e5_class_11-Mar-2018,2019-08-14 20:37:11.849277,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,3104
3104,126778,a_126778_FDNHPQ07,view_23_e5_class_11-Mar-2018,2019-08-14 20:51:44.85074,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,3105
3105,126781,a_126781_FDNHQ1M9,view_23_e5_class_11-Mar-2018,2019-08-14 20:05:39.242062,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,3106
3106,126781,a_126781_FDNHQ1M9,view_23_e5_class_11-Mar-2018,2019-08-14 20:37:11.849277,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,3107
3107,126781,a_126781_FDNHQ1M9,view_23_e5_class_11-Mar-2018,2019-08-14 20:51:44.85074,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,3108

In [13]:
df.duplicated().value_counts()

False    3108
dtype: int64

In [14]:
# df_q1 = df.iloc[:1554]
# df_q4 = df.iloc[-1554:]
# print(df_q1.shape)
# print(df_q4.shape)

# df_o = df_q1.append(df_q4)
# df_o.head()

In [15]:
from d03_classification.evaluate_views import evaluate_views

model_name = 'view_23_e5_class_11-Mar-2018'

evaluate_views(dir_name, model_name, datetime.date.today(), study_filter=None, if_exists="append")

/home/ubuntu/dvv/usal_echo/src/d03_classification/evaluate_views.py:63: RuntimeWarning: invalid value encountered in true_divide
  np.reshape(mcm, (4, 4)) / np.sum(mcm[0]),

ProgrammingError: (psycopg2.ProgrammingError) column "img_dir" of relation "evaluations" does not exist
LINE 1: ...SERT INTO classification.evaluations (model_name, img_dir, d...
                                                             ^
 [SQL: 'INSERT INTO classification.evaluations (model_name, img_dir, date_run, view_mapping, study_filter, view, tn, fp, fn, tp) VALUES (%(model_name)s, %(img_dir)s, %(date_run)s, %(view_mapping)s, %(study_filter)s, %(view)s, %(tn)s, %(fp)s, %(fn)s, %(tp)s)'] [parameters: ({'model_name': 'view_23_e5_class_11-Mar-2018', 'img_dir': 'test_downsampleby5/', 'date_run': None, 'view_mapping': 'view4_dev', 'study_filter': None, 'view': 'a2c', 'tn': None, 'fp': None, 'fn': None, 'tp': None}, {'model_name': 'view_23_e5_class_11-Mar-2018', 'img_dir': 'test_downsampleby5/', 'date_run': None, 'view_mapping': 'view4_dev', 'study_filter': None, 'view': 'a4c', 'tn': None, 'fp': None, 'fn': None, 'tp': None}, {'model_name': 'view_23_e5_class_11-Mar-2018', 'img_dir': 'test_downsampleby5/', 'date_run': None, 'view_mapping': 'view4_dev', 'study_filter': None, 'view': 'plax', 'tn': None, 'fp': None, 'fn': None, 'tp': None}, {'model_name': 'view_23_e5_class_11-Mar-2018', 'img_dir': 'test_downsampleby5/', 'date_run': None, 'view_mapping': 'view4_dev', 'study_filter': None, 'view': 'other', 'tn': None, 'fp': None, 'fn': None, 'tp': None})] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
io_class.get_table('evaluations')

In [ ]:
from tensorflow.python.tools import inspect_checkpoint as chkp

chkp.print_tensors_in_checkpoint_file(model_path, tensor_name='', all_tensors=False)

In [ ]:
old_mod_path = '/home/ubuntu/models/view_23_e5_class_11-Mar-2018'

chkp.print_tensors_in_checkpoint_file(old_mod_path, tensor_name='', all_tensors=False)

In [ ]:
new_mod_name = 'view_23_retrain_14-Aug-2019'

mask = df.duplicated(subset='file_name')

df.loc[mask, 'model_name'] = new_mod_name