In [14]:
import os
import sys
import pandas as pd
import datetime

projectdir = os.path.dirname(os.getcwd())
sys.path.append(os.path.join(projectdir, 'src'))

import d00_utils.db_utils as db
from d02_intermediate.download_dcm import s3_download_decomp_dcm, dcmdir_to_jpgs_for_classification
from d03_classification.predict_views import run_classify, agg_probabilities, predict_views, view_classes

In [20]:
table_name='instances_w_labels'
# train_test_ratio=0.5 
# downsample_ratio=0.001
# train=False
dcm_path = os.path.join(os.path.expanduser('~/data'),'01_raw')

# DON"T RUN THIS AFTER IN TABLE ONCE
#model_path = os.path.join(os.path.expanduser('~/models'), 'view_23_e5_class_11-Mar-2018')

new_mod_direc = '~/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0'
new_mod_name = 'model.ckpt-6460'
model_path = os.path.join(os.path.expanduser(new_mod_direc),  new_mod_name)

In [16]:
# dir_name = s3_download_decomp_dcm(dcm_path, table_name, train_test_ratio, downsample_ratio, train)
dir_name = 'test_downsampleby5/'

In [17]:
dcm_dir = os.path.join(dcm_path, dir_name)
img_dir = os.path.join(os.path.expanduser('~/data'),'02_intermediate', dir_name)
print(img_dir)

dcmdir_to_jpgs_for_classification(dcm_dir, img_dir)

/home/ubuntu/data/02_intermediate/test_downsampleby5/

In [21]:
print(model_path)

/home/ubuntu/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0/model.ckpt-6460

In [22]:
run_classify(img_dir, model_path, if_exists='append', feature_dim=1)

INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Restoring parameters from /home/ubuntu/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0/model.ckpt-6460

In [23]:
print(model_path)

/home/ubuntu/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0/model.ckpt-6460

In [24]:
io_class = db.dbReadWriteClassification()
io_class.list_tables()

['evaluations', 'probabilities_frames', 'test1000_for_m1', 'probabilities_frames_test', 'test_probabilities_instances', 'test_probabilities_frames', 'predictions', 'ground_truths', 'test_predictions', 'test1000_for_m2_m3', 'evaluation', 'predictions_DVV', 'probabilities_instances']

In [25]:
df1 = io_class.get_table('probabilities_frames')
print(df1.shape)
df1.head()

(20720, 29)

,study_id,file_name,model_name,date_run,img_dir,output_plax_far,output_plax_plax,output_plax_laz,output_psax_az,output_psax_mv,...,output_a4c,output_a5c,output_other,output_rvinf,output_psax_avz,output_suprasternal,output_subcostal,output_plax_lac,output_psax_apex,probabilities_frame_id
0,67395,a_67395_8Z0TY90A_31,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.005,0.016,0.006,0.079,0.011,...,0.007,0.04,0.280,0.071,0.014,0.178,0.029,0.020,0.009,1
1,90698,a_90698_EBIHTT8E_34,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.014,0.627,0.034,0.011,0.001,...,0.000,0.00,0.111,0.058,0.006,0.002,0.001,0.110,0.001,2
2,83830,a_83830_81HPLHO0_82,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.000,0.995,0.000,0.000,0.000,...,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.004,0.000,3
3,75430,a_75430_1LHXIQ55_156,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.002,0.000,0.000,0.001,0.000,...,0.000,0.00,0.968,0.003,0.000,0.003,0.000,0.013,0.009,4
4,78135,a_78135_418Q4DF4_93,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.000,1.000,0.000,0.000,0.000,...,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,5

In [9]:
agg_probabilities(if_exists='replace')

In [10]:
df2 = io_class.get_table('probabilities_instances')
print(df2.shape)
df2.head()

(1036, 30)

,study_id,file_name,model_name,date_run,img_dir,output_plax_far,output_plax_plax,output_plax_laz,output_psax_az,output_psax_mv,...,output_a5c,output_other,output_rvinf,output_psax_avz,output_suprasternal,output_subcostal,output_plax_lac,output_psax_apex,frame_count,probabilities_instance_id
0,43763,a_43763_1LHFYKEZ,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.0048,0.0137,0.0052,0.0549,0.0077,...,0.0378,0.1852,0.0464,0.0128,0.1357,0.0206,0.0165,0.0088,10,1
1,45076,a_45076_43IX4IH1,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.0035,0.4107,0.0038,0.0406,0.0054,...,0.0262,0.1307,0.0392,0.0090,0.0997,0.0164,0.0135,0.0064,10,2
2,46919,a_46919_7SQZPLEJ,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.0045,0.0116,0.0046,0.0387,0.0070,...,0.0306,0.1909,0.0483,0.0084,0.1447,0.0213,0.0124,0.0068,10,3
3,49268,a_49268_CSTYB214,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.0036,0.4100,0.0038,0.0455,0.0055,...,0.0288,0.1290,0.0332,0.0093,0.0987,0.0159,0.0133,0.0073,10,4
4,50521,a_50521_EAKXA40T,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,0.0018,0.0054,0.0018,0.0238,0.0027,...,0.0137,0.0754,0.0223,0.0039,0.0515,0.0076,0.0065,0.0036,10,5

In [11]:
predict_views(if_exists='replace')

In [13]:
df3 = io_class.get_table('predictions')
print(df3.shape) # we want 2072 rows
df3.tail()

(1036, 9)

,study_id,file_name,model_name,date_run,img_dir,view23_pred,view4_dev,view4_seg,prediction_id
1031,126557,a_126557_EF74LO2Z,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,plax_plax,plax,plax,1032
1032,126751,a_126751_FDNHKCYK,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,1033
1033,126772,a_126772_FDNHO33T,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,1034
1034,126778,a_126778_FDNHPQ07,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,1035
1035,126781,a_126781_FDNHQ1M9,view_23_e5_class_11-Mar-2018,2019-08-15 15:38:48.380921,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,1036

In [ ]:
# Evaluation stuff below - didn't miss with that
sys.exit()

In [18]:
print(dir_name)

test_downsampleby5/

In [22]:
from d03_classification.evaluate_views import evaluate_views

model_name = 'view_23_e5_class_11-Mar-2018'

evaluate_views(img_dir = dir_name, \
               #model_name = model_name,
               model_name = '0', \
               date_run = datetime.date.today(), \
               study_filter = None, \
               if_exists = "replace")

In [23]:
df_eval = io_class.get_table('evaluations')
df_eval.head()

,model_name,img_dir,date_run,view_mapping,study_filter,view,tn,fp,fn,tp,evaluation_id
0,0,test_downsampleby5/,,view4_seg,,a2c,,,,,1
1,0,test_downsampleby5/,,view4_seg,,a4c,,,,,2
2,0,test_downsampleby5/,,view4_seg,,plax,,,,,3
3,0,test_downsampleby5/,,view4_seg,,other,,,,,4

In [21]:
sys.exit()

SystemExit:

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
from tensorflow.python.tools import inspect_checkpoint as chkp

chkp.print_tensors_in_checkpoint_file(model_path, tensor_name='', all_tensors=False)

In [ ]:
old_mod_path = '/home/ubuntu/models/view_23_e5_class_11-Mar-2018'

chkp.print_tensors_in_checkpoint_file(old_mod_path, tensor_name='', all_tensors=False)

In [ ]:
new_mod_name = 'view_23_retrain_14-Aug-2019'

mask = df.duplicated(subset='file_name')

df.loc[mask, 'model_name'] = new_mod_name