In [1]:
import os
import sys
import pandas as pd
import datetime

projectdir = os.path.dirname(os.getcwd())
sys.path.append(os.path.join(projectdir, 'src'))

import d00_utils.db_utils as db
from d02_intermediate.download_dcm import s3_download_decomp_dcm, dcmdir_to_jpgs_for_classification
from d03_classification.predict_views import run_classify, agg_probabilities, predict_views, view_classes

In [2]:
table_name='instances_w_labels'
train_test_ratio=0.5 
downsample_ratio=0.001
train=False
dcm_path = os.path.join(os.path.expanduser('~/data'),'01_raw')

# DON"T RUN THIS AFTER IN TABLE ONCE
###model_path = os.path.join(os.path.expanduser('~/models'), 'view_23_e5_class_11-Mar-2018')

new_mod_direc = '~/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0'
new_mod_name = 'model.ckpt-6460'
model_path = os.path.join(os.path.expanduser(new_mod_direc),  )

In [3]:
# dir_name = s3_download_decomp_dcm(dcm_path, table_name, train_test_ratio, downsample_ratio, train)
dir_name = 'test_downsampleby5/'

In [4]:
dcm_dir = os.path.join(dcm_path, dir_name)
img_dir = os.path.join(os.path.expanduser('~/data'),'02_intermediate', dir_name)
print(img_dir)

dcmdir_to_jpgs_for_classification(dcm_dir, img_dir)

/home/ubuntu/data/02_intermediate/test_downsampleby5/

In [5]:
#run_classify(img_dir, model_path, if_exists='append', feature_dim=1)

In [6]:
print(model_path)

/home/ubuntu/dvv/usal_echo/src/d03_classification/echo_deeplearning/models/vgg_13/m1_usal/train/0

In [12]:
io_class = db.dbReadWriteClassification()
io_class.list_tables()

['probabilities_frames', 'evaluations', 'test1000_for_m1', 'probabilities_frames_test', 'test_probabilities_instances', 'test_probabilities_frames', 'ground_truths', 'test_predictions', 'test1000_for_m2_m3', 'probabilities_instances', 'evaluation', 'predictions']

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [13]:
df1 = io_class.get_table('probabilities_instances')
print(df1.shape)
df1.head()

(2072, 30)

,study_id,file_name,model_name,date_run,img_dir,output_plax_far,output_plax_plax,output_plax_laz,output_psax_az,output_psax_mv,...,output_a5c,output_other,output_rvinf,output_psax_avz,output_suprasternal,output_subcostal,output_plax_lac,output_psax_apex,frame_count,probabilities_instance_id
0,43763,a_43763_1LHFYKEZ,0,2019-08-15 13:59:02.644636,/home/ubuntu/data/02_intermediate/test_downsam...,0.0000,0.4683,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,10,1
1,43763,a_43763_1LHFYKEZ,view_23_e5_class_11-Mar-2018,2019-08-15 09:47:55.925166,/home/ubuntu/data/02_intermediate/test_downsam...,0.0048,0.0137,0.0052,0.0549,0.0077,...,0.0378,0.1852,0.0464,0.0128,0.1357,0.0206,0.0165,0.0088,10,2
2,45076,a_45076_43IX4IH1,0,2019-08-15 13:59:02.644636,/home/ubuntu/data/02_intermediate/test_downsam...,0.0000,0.7511,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,10,3
3,45076,a_45076_43IX4IH1,view_23_e5_class_11-Mar-2018,2019-08-15 09:47:55.925166,/home/ubuntu/data/02_intermediate/test_downsam...,0.0035,0.4107,0.0038,0.0406,0.0054,...,0.0262,0.1307,0.0392,0.0090,0.0997,0.0164,0.0135,0.0064,10,4
4,46919,a_46919_7SQZPLEJ,0,2019-08-15 13:59:02.644636,/home/ubuntu/data/02_intermediate/test_downsam...,0.0000,0.4093,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,10,5

In [14]:
#agg_probabilities(if_exists='replace')

In [15]:
#predict_views(if_exists='replace')

In [17]:
df = io_class.get_table('predictions')
print(df.shape)
df.tail()

(2072, 9)

,study_id,file_name,model_name,date_run,img_dir,view23_pred,view4_dev,view4_seg,prediction_id
2067,126772,a_126772_FDNHO33T,view_23_e5_class_11-Mar-2018,2019-08-15 09:47:55.925166,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,2068
2068,126778,a_126778_FDNHPQ07,0,2019-08-15 13:59:02.644636,/home/ubuntu/data/02_intermediate/test_downsam...,plax_plax,plax,plax,2069
2069,126778,a_126778_FDNHPQ07,view_23_e5_class_11-Mar-2018,2019-08-15 09:47:55.925166,/home/ubuntu/data/02_intermediate/test_downsam...,other,other,other,2070
2070,126781,a_126781_FDNHQ1M9,0,2019-08-15 13:59:02.644636,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,2071
2071,126781,a_126781_FDNHQ1M9,view_23_e5_class_11-Mar-2018,2019-08-15 09:47:55.925166,/home/ubuntu/data/02_intermediate/test_downsam...,a4c,a4c,a4c,2072

In [18]:
print(dir_name)

test_downsampleby5/

In [22]:
from d03_classification.evaluate_views import evaluate_views

model_name = 'view_23_e5_class_11-Mar-2018'

evaluate_views(img_dir = dir_name, \
               #model_name = model_name,
               model_name = '0', \
               date_run = datetime.date.today(), \
               study_filter = None, \
               if_exists = "replace")

In [23]:
df_eval = io_class.get_table('evaluations')
df_eval.head()

,model_name,img_dir,date_run,view_mapping,study_filter,view,tn,fp,fn,tp,evaluation_id
0,0,test_downsampleby5/,,view4_seg,,a2c,,,,,1
1,0,test_downsampleby5/,,view4_seg,,a4c,,,,,2
2,0,test_downsampleby5/,,view4_seg,,plax,,,,,3
3,0,test_downsampleby5/,,view4_seg,,other,,,,,4

In [21]:
sys.exit()

SystemExit:

/home/ubuntu/anaconda3/envs/usal_echo/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
from tensorflow.python.tools import inspect_checkpoint as chkp

chkp.print_tensors_in_checkpoint_file(model_path, tensor_name='', all_tensors=False)

In [ ]:
old_mod_path = '/home/ubuntu/models/view_23_e5_class_11-Mar-2018'

chkp.print_tensors_in_checkpoint_file(old_mod_path, tensor_name='', all_tensors=False)

In [ ]:
new_mod_name = 'view_23_retrain_14-Aug-2019'

mask = df.duplicated(subset='file_name')

df.loc[mask, 'model_name'] = new_mod_name